.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navItem {
  cursor: pointer; /* 마우스 오버 시 포인터 모양 변경 */
  transition: color 0.3s ease; /* 색상 변화에 애니메이션 효과 적용 */
}

/* 마우스 오버 시 스타일 */
.navItem:hover {
  color: #AEDEFC; /* 이 부분은 원하는 색상으로 변경 가능 */
  text-decoration: underline; /* 밑줄 효과 */
}